tmux/plugins
raycast

.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# ignore everything in dot-config/dot-gnupg
dot-config/dot-gnupg/*

# but keep these two config files
!dot-config/dot-gnupg/gpg.conf
!dot-config/dot-gnupg/gpg-agent.conf

